@{
    ViewBag.Title = "Details of Book";
}

<h1>Details of Book</h1>

<div class="row">
    <div class="col-md-5">
        @if (Model != null)
        {
            <table class="table table-bordered table-hover">
                <tr>
                    <td>Book Name</td>
                    <td>@Model.BookName</td>
                </tr>
                <tr>
                    <td>Author Name</td>
                    <td>@Model.Author</td>
                </tr>
                <tr>
                    <td>ISBN</td>
                    <td>@Model.ISBN</td>
                </tr>
                <tr>
                    <td>Published Date</td>
                    <td>@Model.PublishedDate</td>
                </tr>
            </table>
        }
        else
        {
            <h2>No Books Availabe</h2>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-5">      
        <a asp-controller="Books" asp-action="Index">Back to Index</a>
    </div>
</div>